{% extends "base.html" %}

{% block content %}
<article>
    <h1>{{ task.title }}</h1>

    <p><strong>Due:</strong> {{ task.due_date | default:"No due date" }}</p>
    <p><strong>Estimated minutes:</strong> {{ task.estimated_minutes|default:"-" }}</p>
    
    <div>
    <strong>Description:</strong><br>
    {{ task.description|linebreaks }}
    </div>

    <p><strong>Status:</strong>{% if task.completed %} Completed {% else %} Pending{% endif %}</p>

    <div class="mt-3">
        <a href="{% url 'tasks:task_edit' task.pk %}" class="btn btn-primary btn-sm">
            Edit Task
        </a>
        <a href="{% url 'tasks:task_delete' task.pk %}" class="btn btn-danger btn-sm ms-2">
            Delete Task
        </a>
        <form method="post" action="{% url 'tasks:task_toggle' task.pk %}" class="d-inline">
        {% csrf_token %}
        {% if not task.completed %}
            <button type="submit" class="btn btn-success btn-sm ms-2">Mark as Done</button>
        {% endif %}
        </form>
    </div>

    <p class="mt-3">
        <a href="{% url 'tasks:task_list' %}">Back to task list</a>
    </p>
</article>
{% endblock %}